.background-gray {
  background-color: rgb(126, 120, 120);
}

img {
  width: 100px;
  height: auto;
  position: absolute;
}

.north {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.south {
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.east {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.west {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

body {
  position: relative;
}
